* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.bodyContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .bodyContainer {
    flex-direction: column;
  }
}
