* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.bodyContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.actionBtn {
  background-color: #295f98;
  color: white;
  border: none;
}
.closeBtn {
  background-color: tomato;
  color: white;
  border: none;
}
@media (max-width: 800px) {
  .bodyContainer {
    flex-direction: column;
  }
}
