.detailModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color: white;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailModal .closeBtn {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
